ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 24px;
}

.gallery-image {
    width: 360px;
    transition: transform 0.3s ease;
}

.gallery-image:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.modal {
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal img {
    max-width: 1112px;
    height: 640px;
} 
